.movie-card-link {
    display: inline-block;
    transition: all 600ms ease;
    border-radius: 14px;
    
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    

    &:hover {
        transition: all 600ms ease;
        transform: scale(1.08);
        box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    }

    .movie-card-info {
        padding: 14px;
    }

    .movie-card-rating {
        color: gold;
    }

    .movie-card-genre {
        margin-right: 10px;
    }
}